<template>
  <section class="cart">

    <span
      class="cart__no-products"
      v-if="cart.length === 0">NO PRODUCTS IN CART
    </span>

    <span
      class="cart__info"
      v-if="cart.length !== 0">Your order:</span>

    <cart-grid
      tag="div"
      v-if="cart.length !== 0" />

    <div
      class="cart__total"
      v-if="cart.length !== 0">

      <span class="cart__total__info">Total:</span>

      <span class="cart__total__price">{{ totalPrice | price }}</span>

    </div>

  </section>
</template>

<script>
import '../filters';
import cartGrid from '../components/cart-grid.component.vue';

export default {
  computed: {
    cart() {
      return this.$store.state.cartPage.cart;
    },
    totalPrice() {
      return this.cart.reduce((acc, el) => acc + el.price, 0);
    },
  },
  components: {
    cartGrid,
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.cart {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);

  &__no-products {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110rem;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    color: $grey300;
  }

  &__info {
    top: 8rem;
    margin: 8rem 0;
    font-size: 7rem;
    font-weight: 300;
  }

  &__total {
    display: flex;
    flex-direction: row;
    margin: 8rem 0;

    &__info {
      font-size: 7rem;
      font-weight: 500;
    }

    &__price {
      font-size: 7rem;
      font-weight: 300;
      margin-left: 4rem;
    }
  }
}
</style>
