<template>
  <main class="home">
    <div class="home__hero-image"></div>

    <div class="text-container horizontal-center">
      <h1 class="home__title">OLIOS</h1>

      <h2 class="home__title--description">NEWEST FURNITURE SHOP TEMPLATE</h2>

      <span class="home__background-text horizontal-center">NEWEST</span>

      <router-link to="/products/all" class="home__button-container horizontal-center">

        <button class="home__button">VIEW MORE</button>

      </router-link>
    </div>
  </main>
</template>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

.home__hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/home-hero-image.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-top: 12rem;
}

.home__title {
  width: 65rem;
  height: 26.4rem;
  margin: 0;
  text-align: center;
  font-weight: 100;
  font-size: 22rem;
  letter-spacing: 0.55rem;
  z-index: 1000;

  &--description {
    width: 67rem;
    height: 4.4rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    z-index: 1000;
  }
}

.home__background-text {
  position: absolute;
  width: auto;
  height: auto;
  top: -2rem;
  opacity: 0.02;
  text-align: center;
  font-weight: 900;
  font-size: 20rem;
  letter-spacing: 1rem;
  z-index: 100;
}

.home__button {
  width: 21.5rem;
  height: 5.4rem;
  color: $white;
  background-color: $blue;
  border: none;
  border-radius: 27rem;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  z-index: 1000;
  cursor: pointer;

  &-container {
    position: relative;
    width: 21.5rem;
    height: 5.4rem;
    margin-top: 3.5rem;
  }
}
</style>
