<template>

  <div class="products horizontal-center">

    <div class="products__header">
      <h1 class="products__header__title">PRODUCTS</h1>
      <span class="products__header__category">{{ $route.params.category | capitalize}}</span>
    </div>

    <product-grid></product-grid>

    <span
      class="products__show-more"
      @click="showMoreProducts"
      v-if="isMoreProducts">SHOW MORE PRODUCTS</span>

    <div
      class="products__no-products"
      v-if="products.length === 0">
      NO PRODUCTS AVAILABLE
    </div>

  </div>

</template>

<script>
import productGrid from '../components/product-grid.component.vue';

export default {
  computed: {
    products() {
      return this.$store.state.productsPage.products;
    },
    isMoreProducts() {
      const allProducts = this.$store.state.productsPage.products.length;
      return this.$store.state.productsPage.showedProducts < allProducts;
    },
  },
  methods: {
    fetchData(category) {
      this.$store.dispatch('getProducts', category);
    },
    showMoreProducts() {
      this.$store.commit('showMoreProducts');
    },
  },
  created() {
    this.$store.commit('resetShowedProducts');
    this.fetchData(this.$route.params.category);
  },
  beforeRouteUpdate(to, from, next) {
    this.$store.commit('resetShowedProducts');
    this.fetchData(to.params.category);
    next();
  },
  components: {
    productGrid,
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__title {
      font-size: 7.2rem;
      font-weight: 300;
    }

    &__category {
      font-size: 1.8rem;
      color: $grey200;
      margin: auto 9rem auto auto;
    }
  }

  &__show-more {
    width: auto;
    font-size: 1.8rem;
    font-weight: 700;
    color: $blue;
    margin: 0 auto 10rem auto;
    cursor: pointer;
  }

  &__no-products {
    width: 110rem;
    margin: auto;
    font-size: 10rem;
    font-weight: 700;
    text-align: center;
    color: $grey300;
  }
}
</style>
