<template>
  <section>
    <div class="search__hero-image"></div>

    <div class="page-content">

      <div class="search">
        <input
          type="text"
          class="search__input"
          spellcheck="false"
          v-model="searchInput"
          @keyup.enter="search(searchInput)">

        <div class="search__horizontal-line"></div>

        <span class="search__info">Type product that you are looking for</span>

        <button
          class="search__delete-button"
          @click="searchInput = ''"></button>
      </div>


      <div class="result">
        <router-link
          to="/productDetail"
          tag="div"
          v-for="result in searchResult"
          :key="result.id"
          class="result__item">

          <product-image :picture="result.picture" />
          <span class="result__item__name">{{ result.title | capitalize }}</span>

        </router-link>
      </div>

      <span
        class="result__quantity"
        v-if="resultQuantity !== 0">

          {{ resultQuantity }} searched result

      </span>

    </div>
  </section>
</template>

<script>
import productImage from '../components/product-image.component.vue';
import '../filters';

export default {
  data() {
    return {
      searchInput: '',
    };
  },
  computed: {
    resultQuantity() {
      return this.$store.getters.searchedQuantity;
    },
    searchResult() {
      return this.$store.state.productSearch.searchedProducts;
    },
  },
  methods: {
    search(input) {
      this.$store.commit('searchProducts', input);
    },
  },
  created() {
    this.$store.dispatch('getAllProducts');
  },
  destroyed() {
    this.$store.commit('resetSearchedResult');
  },
  components: {
    productImage,
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.search__hero-image {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/home-hero-image.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.page-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 24.8rem;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 10rem;

  .search {
    width: 157rem;
    height: 26.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__input {
      all: unset;
      width: 147rem;
      height: 16.8rem;
      font-size: 14rem;
      font-weight: 300;
    }

    &__horizontal-line {
      width: 157rem;
      height: 1px;
      background-color: $grey200;
      margin: 2.5rem 0;
    }

    &__info {
      font-size: 3.6rem;
      font-weight: 100;
      color: $grey200;
    }

    &__delete-button {
      all: unset;
      position: absolute;
      width: 3.1rem;
      height: 3.1rem;
      top: 9rem;
      right: 0;
      background-image: url("../assets/icons/cross-icon.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .result {
    display: grid;
    grid-template-columns: repeat(2, 76rem);
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    margin: 10rem 0;

    &__item {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 29rem;
      background-color: $white;
      cursor: pointer;

      &__name {
        font-size: 7.2rem;
        margin: auto 3rem;
        font-weight: 300;
      }
    }

    &__quantity {
      font-size: 3rem;
      font-weight: 700;
      margin-top: 10rem;
    }
  }
}
</style>
