<template>
  <section class="burger-menu">
    <button
      class="burger-menu__button"
      @click="showBurger = !showBurger">

      <div
        class="burger-menu__button__icon"
        :class="{ 'burger-menu__button__icon--close': showBurger }">
      </div>

    </button>

    <transition name="menu-slide">
      <nav
        class="burger-menu__body"
        v-show="showBurger">

        <router-link
          :to="{ name: 'products', params: { category: cat.value } }"
          tag="a"
          class="burger-menu__body__category"
          :class="{ 'burger-menu__body__category--active': cat.value === activeCategory }"
          v-for="(cat, index) in categories"
          :key="index">

          {{ cat.value | capitalize }}

        </router-link>

        <router-link
          to="/products/all"
          tag="a"
          class="burger-menu__body__category burger-menu__body__category--all">
          <span>SHOW ALL CATEGORIES</span>
        </router-link>

      </nav>
    </transition>
  </section>
</template>

<script>
export default {
  data() {
    return {
      showBurger: false,
    };
  },
  computed: {
    categories() {
      return this.$store.state.burgerMenu.categories;
    },
    activeCategory() {
      return this.$route.params.category;
    },
  },
  created() {
    this.$store.dispatch('getCategories');
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';
@import '../assets/styles/animations';

.burger-menu__button {
  position: fixed;
  width: 8.4rem;
  height: 8.4rem;
  top: 8rem;
  right: 5.7rem;
  background-color: $white;
  border: none;
  box-shadow: 0 0 2.5rem 0 rgba(219, 219, 219, 0.5);
  border-radius: 4.2rem;
  z-index: 1000;
  cursor: pointer;

  &__icon {
    width: 1.9rem;
    height: 1.9rem;
    margin: auto;
    background-image: url("../assets/icons/burger-menu-icon.png");
    background-size: contain;
    background-repeat: no-repeat;

    &--close {
      background-image: url("../assets/icons/burger-menu-icon__exit.png");
    }
  }
}

.burger-menu__body {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 37.4rem;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: $white;
  box-shadow: 0 0 2.5rem 0 rgba(219, 219, 219, 0.5);

  &__category {
    margin: 0 16.2rem 8rem auto;
    color: $grey200;
    font-size: 1.8rem;
    text-align: right;
    text-decoration: none;

    &:hover {
      color: $blue;
      text-decoration: underline $blue;
    }

    &:first-of-type {
      margin-top: 26.5rem;
    }

    &--active {
      color: $blue;
      text-decoration: underline $blue;
    }

    &--all {
      margin: auto 0 9.5rem 0;
      color: $blue;
      text-align: center;
    }
  }
}

</style>
