<template>
  <div class="cart-item">
    <product-image
      :picture="product.picture"
      class="cart-item__image" />

    <div class="cart-item__info">
      <span class="cart-item__info__title">{{ product.title | capitalize }}</span>
      <span class="cart-item__info__description">{{ product.description }}</span>
    </div>

    <div class="cart-item__quantity">
      <button
        class="cart-item__quantity__button"
        @click.stop="removeOne">-
      </button>
      <span class="cart-item__quantity__number">{{ productQuantity }}</span>
      <button
        class="cart-item__quantity__button"
        @click.stop="addOne"
        :disabled="productQuantity === product.quantity">+
      </button>
    </div>

    <span class="cart-item__total-price">{{ productQuantity * product.price | price}}</span>

    <button
      class="cart-item__remove-button"
      @click.stop="removeAll"></button>
  </div>
</template>

<script>
import '../filters';
import productImage from './product-image.component.vue';

export default {
  props: {
    product: Object,
  },
  computed: {
    productQuantity() {
      return this.$store.getters.productQuantity(this.product.id);
    },
  },
  methods: {
    addOne() {
      this.$store.commit('addToCart', this.product);
    },
    removeOne() {
      this.$store.commit('removeFromCart', this.product);
    },
    removeAll() {
      this.$store.commit('removeAllFromCart', this.product);
    },
  },
  components: {
    productImage,
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20rem;
  background-color: $white;

  &__image {
    max-height: 16rem;
    margin: 2rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: 3rem;

    &__title {
      font-size: 3rem;
      font-weight: 300;
    }

    &__description {
      width: 30rem;
      font-size: 1.8rem;
      font-weight: 100;
      color: $grey300;
    }
  }

  &__quantity {
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;

    &__button {
      all: unset;
      width: 3rem;
      height: 3rem;
      text-align: center;
      font-size: 2.5rem;
      font-weight: 300;
      cursor: pointer;
      user-select: none;
    }

    &__number {
      font-size: 2.5rem;
      font-weight: 300;
      text-align: center;
      margin: auto;
      user-select: none;
    }
  }

  &__total-price {
    align-self: flex-end;
    margin: auto;
    font-size: 3rem;
    font-weight: 700;
    color: $blue;
    user-select: none;
  }

  &__remove-button {
    all: unset;
    align-self: flex-start;
    position: absolute;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    background-image: url("../assets/icons/cross-icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}
</style>
