<template>
  <div class="cart-grid">

    <cart-item
      v-for="item in cart"
      :key="item.id"
      :product="item" />

  </div>
</template>

<script>
import cartItem from './cart-item.component.vue';

export default {
  computed: {
    cart() {
      const cartOriginal = this.$store.state.cartPage.cart;

      function isSame(element, index, array) {
        return index === array.findIndex(el => el.id === element.id);
      }
      return cartOriginal.filter(isSame);
    },
  },
  components: {
    cartItem,
  },
};
</script>

<style lang="scss" scoped>
.cart-grid {
  display: grid;
  grid-template-columns: repeat(1, 80rem);
  grid-row-gap: 2rem;
}
</style>
