<template>
  <nav class="navigation">

    <div class="navigation__icon">
      <div class="navigation__icon__dot"></div>
    </div>

    <router-link
      to="/"
      class="navigation__button navigation__button--home"
      :class="{ 'navigation__button--home--active': activeRoute === 'homePage' }"
      tag="button">
    </router-link>

    <router-link
      to="/cart"
      class="navigation__button  navigation__button--cart"
      :class="{ 'navigation__button--cart--active': activeRoute === 'cart' }"
      tag="button">

      <div
        class="navigation__button--cart__quantity"
        v-if="cartQuantity !== 0">

        {{ cartQuantity }}

      </div>

    </router-link>

    <router-link
      to="/search"
      class="navigation__button  navigation__button--search"
      :class="{ 'navigation__button--search--active': activeRoute === 'search' }"
      tag="button">
    </router-link>

  </nav>
</template>

<script>

export default {
  computed: {
    cartQuantity() {
      return this.$store.getters.cartQuantity;
    },
    activeRoute() {
      return this.$route.name;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.navigation {
  position: fixed;
  width: 14.3rem;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $white;
  z-index: 100;
  box-shadow: 0 0 2.5rem 0 rgba(219, 219, 219, 0.5);

  &__user {
    font-size: 3rem;
    margin: 2rem auto;
  }

  &__icon {
    width: 5rem;
    height: 5rem;
    margin: 3.3rem auto 15rem;
    background-image: url("../assets/icons/navigation-logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    &__dot {
      position: relative;
      top: 90%;
      left: 90%;
      width: 0.5rem;
      height: 0.5rem;
      background-color: $blue;
      border-radius: 0.25rem;
    }
  }

  &__button {
    width: 4rem;
    height: 4rem;
    margin: 0 auto 8.2rem;
    border: none;
    background-color: $white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    &--home {
      background-image: url("../assets/icons/navigation-icon-home.png");

      &--active {
        background-image: url("../assets/icons/navigation-icon-home__active.png");
      }
    }

    &--cart {
      background-image: url("../assets/icons/navigation-icon-cart.png");

      &__quantity {
        position: relative;
        top: 2.6rem;
        left: 2.6rem;
        width: 2rem;
        height: 2rem;
        border-radius: 1.5rem;
        background-color: $blue;
        font-size: 1.5rem;
        text-align: center;
        color: $white;
      }

      &--active {
        background-image: url("../assets/icons/navigation-icon-cart__active.png");
      }
    }

    &--search {
      background-image: url("../assets/icons/navigation-icon-search.png");

      &--active {
        background-image: url("../assets/icons/navigation-icon-search__active.png");
      }
    }
  }
}
</style>
