<template>
  <div class="product-item">
    <product-image
      :picture="product.picture"
      class="product-item__image" />

    <div class="product-item__info">
      <h3 class="product-item__info__name">{{ product.title | capitalize }}</h3>

      <span class="product-item__info__description">{{ product.description | stringLimit }}</span>

      <span class="product-item__info__price">{{ product.price | price }}</span>
    </div>

    <button
      class="product-item__add"
      :class="{'product__add--disabled': !isInStock}"
      @click.stop="addToCart(product)"
      :disabled="!isInStock">

      {{ buttonMessage }}

    </button>
  </div>
</template>

<script>
import productImage from './product-image.component.vue';

export default {
  props: {
    product: Object,
  },
  computed: {
    isInStock() {
      if (this.$store.getters.productQuantity(this.product.id) < this.product.quantity) {
        return true;
      }
      return false;
    },
    buttonMessage() {
      if (this.isInStock) return 'Add to cart';
      return 'Out of stock';
    },
  },
  methods: {
    addToCart(item) {
      this.$store.commit('addToCart', item);
    },
  },
  components: {
    productImage,
  },
};
</script>

<style lang="scss" scoped>
@import '../assets/styles/variables';

.product-item {
  display: flex;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  height: 100%;

  &:hover {
    box-shadow: 0 0 2.5rem 0 rgba(219, 219, 219, 1);
  }

  &:hover .product__add {
    opacity: 1;
  }

  &__image {
    max-height: 25rem;
    margin: 4rem;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 9rem;
    margin: auto 4rem 0 4rem;

    &__name {
      font-size: 3.6rem;
      font-weight: 300;
      margin: 3px 0;
    }

    &__description {
      font-size: 1.8rem;
      font-weight: 300;
      color: $grey300;
    }

    &__price {
      margin: 1.3rem 0;
      font-size: 1.8rem;
      font-weight: 700;
      color: $blue;
    }
  }

  &__add {
    all: unset;
    position: relative;
    bottom: 1rem;
    right: calc(-100% + 15rem);
    width: 15rem;
    height: 3rem;
    background-color: $blue;
    opacity: 0;
    text-align: center;
    font-size: 2rem;
    color: $white;
    cursor: pointer;

    &--disabled {
      background-color: $grey300;
    }
  }
}
</style>
