<template>
  <div class="product-grid">

    <product-item
      :product="product"
      v-for="product in products.slice(0, showedProducts)"
      :key="product.id" />

  </div>
</template>

<script>
import productItem from './product-item.component.vue';

export default {
  computed: {
    products() {
      return this.$store.state.productsPage.products;
    },
    showedProducts() {
      return this.$store.state.productsPage.showedProducts;
    },
  },
  methods: {
    fetchData(category) {
      this.$store.dispatch('getProducts', category);
    },
  },
  created() {
    this.fetchData(this.$route.params.category);
  },
  beforeRouteUpdate(to, from, next) {
    this.fetchData(to.params.category);
    next();
  },
  components: {
    productItem,
  },
};
</script>

<style lang="scss" scoped>
.product-grid {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 34rem);
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  margin-bottom: 10rem;
}
</style>
