<template>
  <img
    :src="checkedImage"
    class="product__image">
</template>

<script>
export default {
  props: {
    picture: String,
  },
  computed: {
    checkedImage() {
      const image = this.picture;
      if (image.includes('placeholder') || image === '') {
        return 'https://api.ballotpedia.org/v3/thumbnail/';
      }
      return `${image}.png`;
    },
  },
};
</script>

<style lang="scss" scoped>
.product__image {
  width: auto;
  height: 100%;
}
</style>
