<template>
  <section>
    <navigation />
    <router-view></router-view>
    <burger-menu />
  </section>
</template>

<script>
import navigation from './components/navigation.component.vue';
import burgerMenu from './components/burger-menu.component.vue';

export default {
  components: {
    navigation,
    burgerMenu,
  },
};
</script>

<style lang="scss">
@import './assets/styles/variables';

html, body {
  font-size: 0.4vw;
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  background-color: $grey100;
}

button {
  font-family: 'Lato';
  outline: none;
}
</style>
