.menu-slide-enter-active {
  animation: slide-in 0.7s ease-out forwards;
}

.menu-slide-leave-active {
  animation: slide-out 0.7s ease-out forwards;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(37.4rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(37.4rem);
  }
}
